@keyframes commaMove {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes dotToBox {
  from {
    border-radius: 50%;
  }
  to {
    border-radius: 0;
    height: 200px;
  }
}
@keyframes dotsMove {
  from {
    transform: none;
  }
  to {
    transform: translateX(-60vh);
    height: 400px;
  }
}
@keyframes titleMove {
  from {
    left: -100vh;
  }
  to {
    left: 100px;
  }
}
@keyframes subtitleMove {
  from {
    left: -75vh;
  }
  to {
    left: 100px;
  }
}
.anime {
  display: flex;
  justify-content: center;
  align-items: center;
}
.anime__dots {
  position: relative;
  width: 100px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  animation: dotsMove 1s 1.5s ease-in-out forwards;
}
.anime__dot {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 50%;
  animation: dotToBox 1s 1s ease-in-out forwards;
  z-index: 1;
}
.anime__comma {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 100px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 20px 0px black;
  animation: commaMove 1s 0.5s ease-in-out forwards;
}
.anime__title {
  position: absolute;
  top: 0;
  left: -100vh;
  background-color: black;
  color: white;
  animation: titleMove 1s ease-in-out forwards;
  font-size: 140px;
  padding: 30px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.anime__subtitle {
  position: absolute;
  bottom: 0;
  left: -75vh;
  background-color: black;
  color: white;
  animation: subtitleMove 1s 0.2s ease-in-out forwards;
  font-size: 70px;
  padding: 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  white-space: nowrap;
}
.anime__background {
  position: absolute;
  right: 100px;
  top: 0;
  width: 100vh;
  height: 100%;
  background-color: white;
}
