.video-box {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45vw;
  width: 80vw;
  position: relative;
}
@keyframes popUp {
  from {
    width: 300px;
    aspect-ratio: 16/9;
  }
  to {
    width: 80vw;
    aspect-ratio: 16/9;
  }
}
@keyframes popDown {
  from {
    width: 80vw;
    aspect-ratio: 16/9;
  }
  to {
    width: 300px;
    aspect-ratio: 16/9;
  }
}
@keyframes cancelAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
#semicolon-video {
  width: 300px;
  position: relative;
}
.pop-up {
  animation: popUp 0.5s ease-in-out forwards;
}
.pop-down {
  animation: popDown 0.5s ease-in-out forwards;
}
#cancel {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: black;
  color: white;
  position: absolute;
  top: 1vh;
  right: 1vw;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cancel:hover {
  cursor: pointer;
}
.cancel-appear {
  animation: cancelAppear 0.3s 0.5s ease-in-out forwards;
}
#video-cover {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  opacity: 0;
  position: absolute;
}
.fadein {
  animation: fadeIn 0.5s ease-in-out forwards;
}
.fadeout {
  animation: fadeOut 0.5s ease-in-out forwards;
}
.hidden {
  display: none;
}
